@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.main-container{
    display: flex;
    flex-direction: column;
}

.section{
    margin:2rem 1rem 0rem 0.2rem;
}
body{
    font-family: 'Open Sans', sans-serif;
}
abbr[title] {
    text-decoration: none;
}

@media (min-width:1200px) {
    .main-container{
        flex-direction: row;
    }
}

